@using System.Net
@using System.Drawing
@using System.Reflection.Metadata
@using Invenire.Api.Properties.Items
@using Invenire.Api.Properties.Items.Update
@using Invenire.Api.Properties.Suggestions
@using Invenire.Api.Properties.Suggestions.IndexByAdmin
@using System.Runtime.InteropServices
@using Invenire.Components.Forms.Properties.Suggestions

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
    <h4 style="margin:0;">Všechny návrhy</h4>
    <button @onclick="() => OnClose.InvokeAsync(true)">X</button>
</div>

<div>
    <input type="text" @bind="SearchTerm" @bind:after="() => LoadSuggestions(0)" placeholder="Hledat ..." />
</div>

<div>
    <label for="OrderSelect">Řazení: </label>
    <select id="OrderSelect" @bind="SelectedOrderOption" @bind:after="() => LoadSuggestions(0)">
        @foreach (var option in OrderOptions)
        {
            <option value="@option.Value">@option.Label</option>
        }
    </select>
</div>

@if (Suggestions.Any())
{
    <div>
        @foreach (var suggestion in Suggestions)
        {

            var status = GetCzechStatus(suggestion.Status);

            <h4>Základní informace</h4>
            <div>
                <ul>
                    <li><strong>Název:</strong> @suggestion.Name</li>
                    <li><strong>Předloženo:</strong> @suggestion.Employee.EmailAddress</li>
                    @if (!string.IsNullOrEmpty(suggestion.Description))
                    {
                        <li><strong>Popis:</strong> @suggestion.Description</li>
                    }
                    @if (!string.IsNullOrEmpty(suggestion.Feedback))
                    {
                        <li><strong>Feedback:</strong> @suggestion.Feedback</li>
                    }
                    <li><strong>Status:</strong> <span style="color:@status.Color">@status.Text</span></li>
                    <li><strong>Vytvořeno:</strong> @suggestion.CreatedAt.ToString("g")</li>
                    @if (suggestion.LastUpdatedAt is not null)
                    {
                        <li><strong>Upraveno:</strong> @suggestion.LastUpdatedAt.Value.ToString("g")</li>
                    }
                </ul>
            </div>

            @if (suggestion.Payload is not null)
            {
                @if (suggestion.Payload.CreateCommands.Any())
                {
                    <hr style="width:95%;"/>
                    <h4>Vytvořené položky</h4>
                    <div style="margin-left:2%; margin-right:2%; display:grid;grid-template-columns:repeat(4,1fr);gap:0.5rem;">
                        @foreach (var command in suggestion.Payload.CreateCommands)
                        {
                            <div style="border:1px solid #ccc;padding:0.25rem;border-radius:6px;font-size:0.85rem; background-color:#BBFF99;">
                                <ul style="list-style-type:none;padding:0;margin:0;">
                                    <li><strong>Název:</strong> @command.Name</li>
                                    <li><strong>Cena:</strong> @command.Price Kč</li>
                                    <li><strong>Inventární číslo:</strong> @command.InventoryNumber</li>
                                    <li><strong>Registrační číslo:</strong> @command.RegistrationNumber</li>
                                    <li><strong>Sériové číslo:</strong> @(command.SerialNumber ?? "-----")</li>
                                    <li><strong>Datum nákupu:</strong> @command.DateOfPurchase:d</li>
                                    @if (command.DateOfSale is not null)
                                    {
                                        <li><strong>Datum prodeje:</strong> @command.DateOfSale:d</li>
                                    }
                                    <li><strong>Umístění:</strong> Budova @command.Location.Building, Místnost @command.Location.Room</li>
                                    @if (!string.IsNullOrWhiteSpace(command.Location.AdditionalNote))
                                    {
                                        <li><strong>Poznámka k umístění:</strong> @command.Location.AdditionalNote</li>
                                    }
                                    <li><strong>Popis:</strong> @command.Description</li>
                                    <li><strong>Dokument:</strong> @command.DocumentNumber</li>
                                </ul>
                            </div>
                        }
                    </div>
                }


                @if (UpdatedItems.Any())
                {
                <hr style="width:95%;"/>
                <h4>Upravené položky</h4>
                <div style="margin-left:2%; margin-right:2%; display:grid;grid-template-columns:repeat(4,1fr);gap:0.5rem;">
                    @foreach (var kv in UpdatedItems)
                    {
                        var item = kv.Value;
                        var command = kv.Key;

                        <div style="border:1px solid #ccc;padding:0.25rem;border-radius:6px;font-size:0.85rem;">
                            <ul style="list-style-type:none;padding:0;margin:0;">
                                <li><strong>ID:</strong> @command.Id</li>

                                <li style="@((command.Name != item.Name) ? "background-color:#BBFF99;" : "")">
                                    <strong>Název:</strong> @command.Name
                                    @if (command.Name != item.Name)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @item.Name)
                                        </div>
                                    }
                                </li>

                                <li style="@((command.Price != item.Price) ? "background-color:#BBFF99;" : "")">
                                    <strong>Cena:</strong> @command.Price Kč
                                    @if (command.Price != item.Price)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @item.Price Kč)
                                        </div>
                                    }
                                </li>

                                <li style="@((command.InventoryNumber != item.InventoryNumber) ? "background-color:#BBFF99;" : "")">
                                    <strong>Inventární číslo:</strong> @command.InventoryNumber
                                    @if (command.InventoryNumber != item.InventoryNumber)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @item.InventoryNumber)
                                        </div>
                                    }
                                </li>

                                <li style="@((command.RegistrationNumber != item.RegistrationNumber) ? "background-color:#BBFF99;" : "")">
                                    <strong>Registrační číslo:</strong> @command.RegistrationNumber
                                    @if (command.RegistrationNumber != item.RegistrationNumber)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @item.RegistrationNumber)
                                        </div>
                                    }
                                </li>

                                <li style="@((command.SerialNumber != item.SerialNumber) ? "background-color:#BBFF99;" : "")">
                                    <strong>Sériové číslo:</strong> @(command.SerialNumber ?? "-----")
                                    @if (command.SerialNumber != item.SerialNumber)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @(item.SerialNumber ?? "-----"))
                                        </div>
                                    }
                                </li>

                                <li style="@((command.DateOfPurchase != item.DateOfPurchase) ? "background-color:#BBFF99;" : "")">
                                    <strong>Datum nákupu:</strong> @command.DateOfPurchase:d
                                    @if (command.DateOfPurchase != item.DateOfPurchase)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @item.DateOfPurchase:d)
                                        </div>
                                    }
                                </li>

                                @if (command.DateOfSale is not null)
                                {
                                    <li style="@((command.DateOfSale != item.DateOfSale) ? "background-color:#BBFF99;" : "")">
                                        <strong>Datum prodeje:</strong> @command.DateOfSale:d
                                        @if (command.DateOfSale != item.DateOfSale)
                                        {
                                            <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                                (Původně: @(item.DateOfSale?.ToString("d") ?? "-----"))
                                            </div>
                                        }
                                    </li>
                                }

                                <li style="@((command.Location.Building != item.Location.Building || command.Location.Room != item.Location.Room) ? "background-color:#BBFF99;" : "")">
                                    <strong>Umístění:</strong> Budova @command.Location.Building, Místnost @command.Location.Room
                                    @if (command.Location.Building != item.Location.Building || command.Location.Room != item.Location.Room)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: Budova @item.Location.Building, Místnost @item.Location.Room)
                                        </div>
                                    }
                                </li>

                                @if (!string.IsNullOrWhiteSpace(command.Location.AdditionalNote))
                                {
                                    <li style="@((command.Location.AdditionalNote != item.Location.AdditionalNote) ? "background-color:#BBFF99;" : "")">
                                        <strong>Poznámka k umístění:</strong> @command.Location.AdditionalNote
                                        @if (command.Location.AdditionalNote != item.Location.AdditionalNote)
                                        {
                                            <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                                (Původně: @item.Location.AdditionalNote)
                                            </div>
                                        }
                                    </li>
                                }

                                <li><strong>Spravuje:</strong> @(!string.IsNullOrEmpty(item.Employee.EmailAddress) ? item.Employee.EmailAddress : "-----")</li>

                                <li style="@((command.Description != item.Description) ? "background-color:#BBFF99;" : "")">
                                    <strong>Popis:</strong> @command.Description
                                    @if (command.Description != item.Description)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @item.Description)
                                        </div>
                                    }
                                </li>

                                <li style="@((command.DocumentNumber != item.DocumentNumber) ? "background-color:#BBFF99;" : "")">
                                    <strong>Dokument:</strong> @command.DocumentNumber
                                    @if (command.DocumentNumber != item.DocumentNumber)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @item.DocumentNumber)
                                        </div>
                                    }
                                </li>

                                <li><strong>Přidáno:</strong> @item.CreatedAt:g</li>

                                @if (item.LastUpdatedAt is not null)
                                {
                                    <li><strong>Upraveno:</strong> @item.LastUpdatedAt:g</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                }

                @if (DeletedItems.Any())
                {
                   <hr style="width:95%; margin-top:2%;"/>
                    <h4>Smazané položky</h4>
                    <div style="margin-left:2%; margin-right:2%; display:grid;grid-template-columns:repeat(4,1fr);gap:0.5rem;">
                        @foreach (var item in DeletedItems.Values)
                        {
                            <div style="border:1px solid #ccc;padding:0.25rem;border-radius:6px;font-size:0.85rem; background-color:#FF5B5B;">
                                <ul style="list-style-type:none;padding:0;margin:0;">
                                    <li><strong>ID:</strong> @item.Id</li>
                                    <li><strong>Název:</strong> @item.Name</li>
                                    <li><strong>Cena:</strong> @item.Price Kč</li>
                                    <li><strong>Inventární číslo:</strong> @item.InventoryNumber</li>
                                    <li><strong>Registrační číslo:</strong> @item.RegistrationNumber</li>
                                    <li><strong>Sériové číslo:</strong> @(item.SerialNumber ?? "-----")</li>
                                    <li><strong>Datum nákupu:</strong> @item.DateOfPurchase:d</li>
                                    @if (item.DateOfSale is not null)
                                    {
                                        <li><strong>Datum prodeje:</strong> @item.DateOfSale:d</li>
                                    }
                                    <li><strong>Umístění:</strong> Budova @item.Location.Building, Místnost @item.Location.Room</li>
                                    @if (!string.IsNullOrWhiteSpace(item.Location.AdditionalNote))
                                    {
                                        <li><strong>Poznámka k umístění:</strong> @item.Location.AdditionalNote</li>
                                    }
                                    <li><strong>Spravuje:</strong> @(!string.IsNullOrEmpty(item.Employee.EmailAddress) ? item.Employee.EmailAddress : "-----")</li>
                                    <li><strong>Popis:</strong> @item.Description</li>
                                    <li><strong>Dokument:</strong> @item.DocumentNumber</li>
                                    <li><strong>Přidáno:</strong> @item.CreatedAt:g</li>
                                    @if (item.LastUpdatedAt is not null)
                                    {
                                        <li><strong>Upraveno:</strong> @item.LastUpdatedAt:g</li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }

                <div style="margin-bottom:2%; margin-top:2%;">
                    <button @onclick="() => ShowAcceptSuggestionModal=true">Schválit</button>
                    <button @onclick="() => ShowDeclineSuggestionModal=true">Odmítnout</button>
                </div>

                @if (ShowAcceptSuggestionModal)
                {
                    <div style="
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.5);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1500;">
                        <div style="
                            background-color: white;
                            padding: 20px;
                            border-radius: 8px;
                            width: 500px;
                            max-width: 90%;
                            box-shadow: 0 2px 10px rgba(0,0,0,0.3);">
                                <AcceptPropertySuggestionForm Suggestion="suggestion" OnChange="() => OnAcceptSuggestion()" OnClose="() => ShowDeclineSuggestionModal = false"/>
                        </div>
                    </div>
                }
                @if (ShowDeclineSuggestionModal)
                {
                    <div style="
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.5);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1500;">
                        <div style="
                            background-color: white;
                            padding: 20px;
                            border-radius: 8px;
                            width: 500px;
                            max-width: 90%;
                            box-shadow: 0 2px 10px rgba(0,0,0,0.3);">
                            <DeclinePropertySuggestionForm Suggestion="suggestion" OnChange="() => OnDeclineSuggestion()" OnClose="() => ShowDeclineSuggestionModal = false"/>
                        </div>
                    </div>
                }
            }
        }
    </div>

    <div style="
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
    ">
        <button @onclick="() => LoadSuggestions(CurrentOffset - Limit)" disabled="@(!CanGoPrev)">Předchozí</button>
        <span>Návrh @(CurrentOffset / Limit + 1) / @((int)Math.Ceiling((double)TotalItemsCount / Limit))</span>
        <button @onclick="() => LoadSuggestions(CurrentOffset + Limit)" disabled="@(!CanGoNext)">Další</button>
    </div>
}
else
{
    <p>Žádné návrhy nebyly nalezeny.</p>
}

@code {
    [Inject] public HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback<bool> OnChange { get; set; }

    private List<PropertySuggestionDto> Suggestions { get; set; } = [];
    private Dictionary<Guid, PropertyItemDto> DeletedItems { get; set; } = [];
    private Dictionary<UpdatePropertyItemRequest, PropertyItemDto> UpdatedItems { get; set; } = [];

    private int Limit { get; set; } = 1;
    private int CurrentOffset { get; set; }
    private int TotalItemsCount { get; set; }

    private bool CanGoPrev => CurrentOffset > 0; 
    private bool CanGoNext => CurrentOffset + Limit < TotalItemsCount;

    protected override async Task OnInitializedAsync() => await LoadSuggestions(0);

    private async Task LoadSuggestions(int offset)
    {
        UpdatedItems.Clear();
        DeletedItems.Clear();

        CurrentOffset = Math.Max(0, offset);

        var (sort, descending) = SelectedOrderOption.Split("_") switch { var parts => (parts[0], parts[1] == "desc") };

        var parameters = new List<string>
        {
            $"limit={Limit}",
            $"offset={CurrentOffset}",
            $"order={sort}",
            $"desc={descending}",
            $"status={PropertySuggestionDtoStatus.PENDING}"
        };

        if (!string.IsNullOrEmpty(SearchTerm))
            parameters.Add($"searchQuery={SearchTerm}");

        var response = await Client.GetAsync($"/api/properties/suggestions?{string.Join("&", parameters)}");

        if (response.StatusCode != HttpStatusCode.OK) throw new Exception("Something went wrong during the request to get the suggestions.");

        var content = await response.Content.ReadFromJsonAsync<IndexByAdminPropertySuggestionResponse>() ?? throw new NullReferenceException();

        Suggestions = content.Data;
        Limit = content.Limit;
        TotalItemsCount = content.TotalCount;

        if (!Suggestions.Any()) return;

        foreach (var suggestion in Suggestions)
        {
            foreach (var id in suggestion.Payload!.DeleteCommands)
            {
                DeletedItems[id] = await GetItem(id);
            }
            foreach (var command in suggestion.Payload!.UpdateCommands)
            {
                UpdatedItems[command] = await GetItem(command.Id);
            }
        }
    }

    private string? SearchTerm { get; set; }

    private string SelectedOrderOption { get; set; } = "createdat_asc";
    private readonly List<(string Value, string Label)> OrderOptions = new()
    {
        ("name_asc", "Název (A-Z)"),
        ("name_desc", "Název (Z-A)"),
        ("createdat_asc", "Datum přidání (nejstarší první)"),
        ("createdat_desc", "Datum přidání (nejnovější první)")
    };

    private async Task<PropertyItemDto> GetItem(Guid id)
    {
        var response = await Client.GetAsync($"/api/properties/items/{id}");

        if (response.StatusCode != HttpStatusCode.OK) throw new Exception("Something went wrong during the request to get the item.");

        return await response.Content.ReadFromJsonAsync<PropertyItemDto>() ?? throw new NullReferenceException();
    }

    private bool ShowAcceptSuggestionModal { get; set; }
    private bool ShowDeclineSuggestionModal { get; set; }

    private async Task OnAcceptSuggestion()
    {
        await LoadSuggestions(0);
        await OnChange.InvokeAsync(true);
        ShowAcceptSuggestionModal = false;
    }

    private async Task OnDeclineSuggestion()
    {
        await LoadSuggestions(0);
        await OnChange.InvokeAsync(true);
        ShowDeclineSuggestionModal = false;
    }

    private (string Text, string Color) GetCzechStatus(PropertySuggestionDtoStatus status)
    {
        return status switch
        {
            PropertySuggestionDtoStatus.PENDING => ("Nevyřízený", "goldenrod"),
            PropertySuggestionDtoStatus.DECLINED => ("Odmítnutý", "red"),
            _ => ("Neznámý", "gray")
        };
    }
}
