@using System.Net
@using Blazored.LocalStorage
@using Invenire.Api.Properties.Suggestions
@using Invenire.Common.Errors
@using System.Threading.Tasks
@using Invenire.Api.Properties
@using Invenire.Api.Users.Employees
@using Invenire.Api.Properties.Items
@using Invenire.Api.Organizations.Create
@using Invenire.Api.Properties.Items.Update
@using Invenire.Api.Properties.Items.Delete
@using Invenire.Api.Properties.Items.IndexByAdmin
@using Invenire.Components.Forms.Properties.Items
@using Invenire.Components.Forms.Properties.Suggestions
@using System.Formats.Asn1
@using System.Runtime.InteropServices

<div>
    <input type="text" @bind="SearchTerm" @bind:after="() => LoadItems(0)" placeholder="Hledat ..." />
</div>

<div>
    <label for="OrderSelect">Řazení: </label>
    <select id="OrderSelect" @bind="SelectedOrderOption" @bind:after="() => LoadItems(0)">
        @foreach (var option in OrderOptions)
        {
            <option value="@option.Value">@option.Label</option>
        }
    </select>
</div>

<div>
    <button @onclick="async () => {ShowFilteringOptions = !ShowFilteringOptions; if (!ShowFilteringOptions) await ClearFilters();}">@if (ShowFilteringOptions) @("Zrušit filtrování") else @("Filtrovat")</button>
    @if (ShowFilteringOptions)
    {
        <div>
            <label for="PriceMin">Cena od:</label>
            <input id="PriceMin" type="number" @bind="PriceMin" min="0" />

            <label for="PriceMax">do:</label>
            <input id="PriceMax" type="number" @bind="PriceMax" min="0" />

            <br />

            <label for="DateOfPurchaseFrom">Datum nákupu od:</label>
            <input id="DateOfPurchaseFrom" type="date" @bind="DateOfPurchaseFrom" />

            <label for="DateOfPurchaseTo">do:</label>
            <input id="DateOfPurchaseTo" type="date" @bind="DateOfPurchaseTo" />

            <br />

            <label for="CreatedAtFrom">Datum přidání od:</label>
            <input id="CreatedAtFrom" type="date" @bind="CreatedAtFrom" />

            <label for="CreatedAtTo">do:</label>
            <input id="CreatedAtTo" type="date" @bind="CreatedAtTo" />

            <br />

            <label for="Building">V budově:</label>
            <input id="Building" type="text" @bind="Building" />

            <label for="Room">V místnosti:</label>
            <input id="Room" type="text" @bind="Room" />

            <br />
            
            <label for="WithGeneratedCode">Vygenerovaný kód:</label>
            <select id="WithGeneratedCode" @bind="WithGeneratedCode" >
                <option value="">Nezáleží</option>
                <option value="true">S kódem</option>
                <option value="false">Bez kódu</option>
            </select>

            <br />

            <button @onclick="() => LoadItems(0)" >Použít</button>
            <button @onclick="() => ClearFilters()">Vymazat</button>
        </div>
    }
</div>

<br />

<div>
    <label for="limit_slider">Limit:</label>
    <input id="limit_slider" type="range" min="28" max="200" step="4" @bind="Limit" @bind:after="() => LoadItems(CurrentOffset)" />
    <span>Limit: @Limit, Počet položek na stránce: @Items.Count, Celkově položek: @TotalItemsCount</span>
</div>
    
<br />

@if (Items.Any())
{
    <div>
        <div>
            <button @onclick="() => SelectItems(Items)" disabled="@(Items.Except(DeletedItems).All(i => SelectedItems.Contains(i)))" >Vybrat vše</button>
            <button @onclick="() => ClearSelectedItems()" disabled="@(!SelectedItems.Any())">Zrušit výběr</button>
            <span>Počet vybraných: @SelectedItems.Count</span>
        </div>
        <div>
            <button @onclick="() => DeleteSelectedItems()" disabled="@(!SelectedItems.Any())">Označit vybrané jako smazané</button>
            <button @onclick="() => ClearDeletedItems()" disabled="@(!DeletedItemIds.Any())">Ponechat všechny smazané položky</button>
        </div>

        <div style="margin-bottom:2%">
            <button @onclick="() => ShowUpdateSuggestionModal = true" disabled="@(!HasPendingChanges)">Upravit návrh</button>
            <button @onclick="async () => {await ClearDeletedItems(); await ClearUpdatedItems();}" disabled="@(!HasPendingChanges)">Zrušit změny</button>
            <button @onclick="async () => await OnInitializedAsync()">Vrátit zpět původní změny</button>
        </div>

        <div style="display:grid;grid-template-columns:repeat(4,1fr);gap:0.5rem;">
            @foreach (var item in Items.Select(i => UpdatedItemDtos.GetValueOrDefault(i.Id, i)))
            {
                var isPendingUpdate = UpdatedItemDtos.ContainsKey(item.Id);
                var original = isPendingUpdate ? Items.FirstOrDefault(i => i.Id == item.Id) : item;

                <div style="border:1px solid #ccc;padding:0.25rem;border-radius:6px;font-size:0.85rem; background-color:@GetItemColor(item);">
                    <ul style="list-style-type:none;padding:0;margin:0; cursor:pointer;" @onclick="() => SelectItem(item)">
                        @if (EditedItems.ContainsKey(item.Id))
                        {
                            var edit = EditedItems[item.Id].Updated;

                            <li><strong>ID:</strong> @edit.Id</li>
                            <li><strong>Název:</strong> <input @bind="edit.Name" style="width:70%;"/></li>
                            <li><strong>Cena:</strong> <input type="number" @bind="edit.Price"/></li>
                            <li><strong>Inventární číslo:</strong> <input @bind="edit.InventoryNumber" required/></li>
                            <li><strong>Registrační číslo:</strong> <input @bind="edit.RegistrationNumber"/> </li>
                            <li><strong>Sériové číslo:</strong> <input @bind="edit.SerialNumber"/></li>
                            <li><strong>Datum nákupu:</strong> <input type="date" @bind="edit.DateOfPurchase"/></li>
                            <li><strong>Datum prodeje:</strong> <input type="date" @bind="edit.DateOfSale"/></li>
                            <li><strong>Umístění:</strong> Budova <input @bind="edit.Location.Building"/> , Místnost <input @bind="edit.Location.Room"/></li>
                            <li><strong>Poznámka k umístění:</strong> <input @bind="edit.Location.AdditionalNote"/></li>
                            <li><strong>Spravuje:</strong> @(!string.IsNullOrEmpty(item.Employee.EmailAddress) ? item.Employee.EmailAddress : "-----")</li>
                            <li><strong>Popis:</strong> <input @bind="edit.Description" style="width:70%;"/></li>
                            <li><strong>Číslo dokladu:</strong> <input @bind="edit.DocumentNumber"/></li>
                            <li><strong>Přidáno:</strong> @item.CreatedAt.ToUserTimeString()</li>
                            <li><strong>Upraveno:</strong> @(item.LastUpdatedAt.ToUserTimeString() ?? "-----")</li>
                            <li><strong>Datum generace kódu:</strong> @(item.LastCodeGeneratedAt.ToUserTimeString() ?? "-----")</li>
                        }
                        else
                        {
                            <li><strong>ID:</strong> @item.Id</li>

                            <li style="@((isPendingUpdate && item.Name != original!.Name) ? "background-color:#BBFF99;" : "")">
                                <strong>Název:</strong> @item.Name
                                @if (isPendingUpdate && item.Name != original!.Name)
                                {
                                    <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                        (Původně: @original!.Name)
                                    </div>
                                }
                            </li>

                            <li style="@((isPendingUpdate && item.Price != original!.Price) ? "background-color:#BBFF99;" : "")">
                                <strong>Cena:</strong> @item.Price Kč
                                @if (isPendingUpdate && item.Price != original!.Price)
                                {
                                    <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                        (Původně: @original!.Price Kč)
                                    </div>
                                }
                            </li>

                            <li style="@((isPendingUpdate && item.InventoryNumber != original!.InventoryNumber) ? "background-color:#BBFF99;" : "")">
                                <strong>Inventární číslo:</strong> @item.InventoryNumber
                                @if (isPendingUpdate && item.InventoryNumber != original!.InventoryNumber)
                                {
                                    <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                        (Původně: @original!.InventoryNumber)
                                    </div>
                                }
                            </li>

                            <li style="@((isPendingUpdate && item.RegistrationNumber != original!.RegistrationNumber) ? "background-color:#BBFF99;" : "")">
                                <strong>Registrační číslo:</strong> @item.RegistrationNumber
                                @if (isPendingUpdate && item.RegistrationNumber != original!.RegistrationNumber)
                                {
                                    <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                        (Původně: @original!.RegistrationNumber)
                                    </div>
                                }
                            </li>

                            <li style="@((isPendingUpdate && item.SerialNumber != original!.SerialNumber) ? "background-color:#BBFF99;" : "")">
                                <strong>Sériové číslo:</strong> @(item.SerialNumber ?? "-----")
                                @if (isPendingUpdate && item.SerialNumber != original!.SerialNumber)
                                {
                                    <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                        (Původně: @(original!.SerialNumber ?? "-----"))
                                    </div>
                                }
                            </li>

                            <li style="@((isPendingUpdate && item.DateOfPurchase != original!.DateOfPurchase) ? "background-color:#BBFF99;" : "")">
                                <strong>Datum nákupu:</strong> @item.DateOfPurchase.ToString("dd.MM.yyyy")
                                @if (isPendingUpdate && item.DateOfPurchase != original!.DateOfPurchase)
                                {
                                    <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                        (Původně: @original!.DateOfPurchase.ToString("dd.MM.yyyy"))
                                    </div>
                                }
                            </li>
                            
                            @if (item.DateOfSale is not null || original!.DateOfSale is not null)
                            {
                                <li style="@((isPendingUpdate && item.DateOfSale != original!.DateOfSale) ? "background-color:#BBFF99;" : "")">
                                    <strong>Datum prodeje:</strong> @(item.DateOfSale?.ToString("dd.MM.yyyy") ?? "-----")
                                    @if (isPendingUpdate && item.DateOfSale != original!.DateOfSale)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @(original!.DateOfSale?.ToString("dd.MM.yyyy") ?? "-----"))
                                        </div>
                                    }
                                </li>
                            }

                            <li style="@((isPendingUpdate && (item.Location.Building != original!.Location.Building || item.Location.Room != original!.Location.Room)) ? "background-color:#BBFF99;" : "")">
                                <strong>Umístění:</strong> Budova @item.Location.Building, Místnost @item.Location.Room
                                @if (isPendingUpdate && (item.Location.Building != original!.Location.Building || item.Location.Room != original!.Location.Room))
                                {
                                    <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                        (Původně: Budova @original!.Location.Building, Místnost @original!.Location.Room)
                                    </div>
                                }
                            </li>

                            @if (!string.IsNullOrWhiteSpace(item.Location.AdditionalNote) || !string.IsNullOrWhiteSpace(original!.Location.AdditionalNote))
                            {
                                <li style="@((isPendingUpdate && item.Location.AdditionalNote != original!.Location.AdditionalNote) ? "background-color:#BBFF99;" : "")">
                                    <strong>Poznámka k umístění:</strong> @(item.Location.AdditionalNote ?? "-----")
                                    @if (isPendingUpdate && item.Location.AdditionalNote != original!.Location.AdditionalNote)
                                    {
                                        <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                            (Původně: @(original!.Location.AdditionalNote ?? "-----"))
                                        </div>
                                    }
                                </li>
                            }
                            
                            <li><strong>Spravuje:</strong> @(!string.IsNullOrEmpty(item.Employee.EmailAddress) ? item.Employee.EmailAddress : "-----")</li>

                            <li style="@((isPendingUpdate && item.Description != original!.Description) ? "background-color:#BBFF99;" : "")">
                                <strong>Popis:</strong> @(item.Description ?? "------")
                                @if (isPendingUpdate && item.Description != original!.Description)
                                {
                                    <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                        (Původně: @(original!.Description ?? "------"))
                                    </div>
                                }
                            </li>

                            <li style="@((isPendingUpdate && item.DocumentNumber != original!.DocumentNumber) ? "background-color:#BBFF99;" : "")">
                                <strong>Číslo dokladu:</strong> @(item.DocumentNumber ?? "-----")
                                @if (isPendingUpdate && item.DocumentNumber != original!.DocumentNumber)
                                {
                                    <div style="font-size:0.75rem; color:#666; margin-left:0.5rem;">
                                        (Původně: @(original!.DocumentNumber ?? "-----"))
                                    </div>
                                }
                            </li>

                            <li><strong>Přidáno:</strong> @item.CreatedAt.ToUserTimeString()</li>
                            <li><strong>Upraveno:</strong> @(item.LastUpdatedAt.ToUserTimeString() ?? "-----")</li>
                            <li><strong>Datum generace kódu:</strong> @(item.LastCodeGeneratedAt.ToUserTimeString() ?? "-----")</li>
                        }
                    </ul>

                        @if (EditedItems.ContainsKey(item.Id))
                        {
                            <button @onclick="() => UpdateItem(item)" type="submit">Uložit úpravy</button>
                        }

                        <button @onclick="() => EditItem(item)" disabled="@(DeletedItemIds.Contains(item.Id))">
                            @(EditedItems.ContainsKey(item.Id) ? "Zrušit úpravy" : "Upravit")
                        </button>

                        @if (!EditedItems.ContainsKey(item.Id) && UpdatedItemDtos.ContainsKey(item.Id))
                        {
                            <button @onclick="async () => { UpdatedItemDtos.Remove(item.Id); await Task.CompletedTask; }">Vrátit změny</button>
                        }

                        <button @onclick="() => DeleteItem(item)" disabled="@(EditedItems.ContainsKey(item.Id))">
                            @(DeletedItemIds.Contains(item.Id) ? "Zrušit Smazání" : "Smazat")
                        </button>
                </div>
            }
        </div>
        <br/>
        <div style="
            position: sticky;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
        ">
            <button @onclick="() => LoadItems(CurrentOffset - Limit)" disabled="@(!CanGoPrev)">◀</button>
            <span>@(CurrentOffset / Limit + 1) / @((int)Math.Ceiling((double)TotalItemsCount / Limit))</span>
            <button @onclick="() => LoadItems(CurrentOffset + Limit)" disabled="@(!CanGoNext)">▶</button>
        </div>
    </div>

    @if (ShowUpdateSuggestionModal)
    {
        <div style="
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;">
            <div style="
                background-color: white;
                padding: 20px;
                border-radius: 8px;
                width: 500px;
                max-width: 90%;
                box-shadow: 0 2px 10px rgba(0,0,0,0.3);">

                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                        <h4 style="margin: 0;">Upravit návrh</h4>
                        <button @onclick="() => ShowUpdateSuggestionModal = false">X</button>
                    </div>

                    <UpdatePropertySuggestionForm OnClose="() => ShowUpdateSuggestionModal = false" OnSuccessfulCreation="() => OnSuggestionUpdate()" ItemsToDelete="DeletedItems.ToList()" ItemsToUpdate="UpdatedItems.ToList()" Suggestion="Suggestion"/>
                </div>
        </div>
    }
}
else
{
    <p>Žádné položky nebyly nalezeny.</p>
}


@code
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback<bool> OnChange { get; set; }
    [Parameter] public PropertySuggestionDto? Suggestion { get; set; }

    private int Limit { get; set; } = 28;
    private int CurrentOffset { get; set; }
    private int TotalItemsCount { get; set; }

    private string? SearchTerm { get; set; }

    private List<PropertyItemDto> Items { get; set; } = [];

    private string SelectedOrderOption { get; set; } = "createdat_asc";
    private readonly List<(string Value, string Label)> OrderOptions = new()
    {
        ("name_asc", "Název (A-Z)"),
        ("name_desc", "Název (Z-A)"),
        ("price_asc", "Cena (nejnižší první)"),
        ("price_desc", "Cena (nejvyšší první)"),
        ("dateofpurchase_asc", "Datum nákupu (nejstarší první)"),
        ("dateofpurchase_desc", "Datum nákupu (nejnovější první)"),
        ("createdat_asc", "Datum přidání (nejstarší první)"),
        ("createdat_desc", "Datum přidání (nejnovější první)")
    };

    private HashSet<Guid> DeletedItemIds { get; set; } = new();
    private Dictionary<Guid, PropertyItemDto> UpdatedItemDtos { get; set; } = new();

    private HashSet<PropertyItemDto> SelectedItems { get; set; } = new();
    private Dictionary<Guid, (PropertyItemDto Updated, PropertyItemDto Original)> EditedItems { get; set; } = new();

    private IEnumerable<PropertyItemDto> DeletedItems => Items.Where(i => DeletedItemIds.Contains(i.Id));
    private IEnumerable<PropertyItemDto> UpdatedItems => UpdatedItemDtos.Values;
    private bool HasPendingChanges => DeletedItemIds.Any() || UpdatedItemDtos.Any();


    protected override async Task OnInitializedAsync()
    {
        await LoadItems(0);

        if (Suggestion is not null && Suggestion.Payload is not null)
        {
            foreach (var id in Suggestion.Payload.DeleteCommands)
            {
                var item = Items.FirstOrDefault(i => i.Id == id);

                if (item is not null && !DeletedItems.Contains(item)) await DeleteItem(item);
            }
            foreach (var command in Suggestion.Payload.UpdateCommands)
            {
                var item = Items.FirstOrDefault(i => i.Id == command.Id);

                if (item is not null) 
                {
                    var dto = new PropertyItemDto
                    {
                        Id = command.Id,
                        PropertyId = item.PropertyId,
                        Employee = item.Employee,
                        EmployeeId = command.EmployeeId,
                        InventoryNumber = command.InventoryNumber,
                        RegistrationNumber = command.RegistrationNumber,
                        Name = command.Name,
                        Price = command.Price,
                        SerialNumber = command.SerialNumber,
                        DateOfPurchase = command.DateOfPurchase,
                        DateOfSale = command.DateOfSale,
                        Location = new PropertyItemLocationDto
                        {
                            Room = command.Location.Room,
                            Building = command.Location.Building,
                            AdditionalNote = command.Location.AdditionalNote,
                        },
                        Description = command.Description,
                        DocumentNumber = command.DocumentNumber,
                        LastCodeGeneratedAt = item.LastCodeGeneratedAt,
                        LastUpdatedAt = item.LastUpdatedAt,
                        CreatedAt = item.CreatedAt,
                    };
                    EditItem(dto);
                    await UpdateItem(dto);
                }
            }
        }
    }

    private async Task LoadItems(int offset)
    {
        CurrentOffset = Math.Max(0, offset);

        var (sort, descending) = SelectedOrderOption.Split("_") switch { var parts => (parts[0], parts[1] == "desc") };

        var parameters = new List<string>
        {
            $"limit={Limit}",
            $"offset={CurrentOffset}",
            $"order={sort}",
            $"desc={descending}"
        };

        if (!string.IsNullOrEmpty(SearchTerm))
            parameters.Add($"searchQuery={SearchTerm}");

        if (ShowFilteringOptions)
        {
            if (PriceMin is not null)
                parameters.Add($"minPrice={PriceMin}");
            if (PriceMax is not null)
                parameters.Add($"maxPrice={PriceMax}");
            if (CreatedAtFrom is not null)
                parameters.Add($"createdAtFrom={new DateTimeOffset(CreatedAtFrom.Value, TimeSpan.Zero).UtcDateTime:O}");
            if (CreatedAtTo is not null)
                parameters.Add($"createdAtTo={new DateTimeOffset(CreatedAtTo.Value, TimeSpan.Zero).UtcDateTime:O}");
            if (DateOfPurchaseFrom is not null)
                parameters.Add($"dateOfPurchaseFrom={new DateTimeOffset(DateOfPurchaseFrom.Value, TimeSpan.Zero).UtcDateTime:O}");
            if (DateOfPurchaseTo is not null)
                parameters.Add($"dateOfPurchaseTo={new DateTimeOffset(DateOfPurchaseTo.Value, TimeSpan.Zero).UtcDateTime:O}");
            if (!string.IsNullOrEmpty(Room))
                parameters.Add($"room={Room}");
            if (!string.IsNullOrEmpty(Building))
                parameters.Add($"building={Building}");

            if (!string.IsNullOrEmpty(WithGeneratedCode))
                parameters.Add($"withGeneratedCode={WithGeneratedCode}");
        }

        var response = await Client.GetAsync($"/api/properties/items?{string.Join("&", parameters)}");

        if (response.StatusCode != HttpStatusCode.OK) throw new Exception("Something went wrong during the request to get the items.");

        var content = await response.Content.ReadFromJsonAsync<IndexByAdminPropertyItemResponse>() ?? throw new NullReferenceException();

        Items = content.Data;
        Limit = content.Limit;
        TotalItemsCount = content.TotalCount;
        
        StateHasChanged(); 
    }

    private bool CanGoPrev => CurrentOffset > 0;
    private bool CanGoNext => CurrentOffset + Limit < TotalItemsCount;

    private bool ShowFilteringOptions { get; set; }

    private decimal? PriceMin { get; set; }
    private decimal? PriceMax { get; set; }

    private DateTime? CreatedAtFrom { get; set; }
    private DateTime? CreatedAtTo { get; set; }

    private DateTime? DateOfPurchaseFrom { get; set; }
    private DateTime? DateOfPurchaseTo { get; set; }

    private string? Room { get; set; }
    private string? Building { get; set; }

    private string? WithGeneratedCode { get; set; }

    private async Task ClearFilters()
    {
        PriceMin = null;
        PriceMax = null;
        CreatedAtFrom = null;
        CreatedAtTo = null;
        DateOfPurchaseFrom = null;
        DateOfPurchaseTo = null;
        Room = null;
        Building = null;
        WithGeneratedCode = null;

        await LoadItems(0);
    }

    public void SelectItem(PropertyItemDto item)
    {
        if (DeletedItemIds.Contains(item.Id)) return;
        if (EditedItems.Keys.Contains(item.Id)) return;

        if (SelectedItems.RemoveWhere(i => i.Id == item.Id) == 0) SelectedItems.Add(item);

        Console.WriteLine(string.Join(", ", SelectedItems.Select(i => i.InventoryNumber)));
        Console.WriteLine(SelectedItems);
    }

    public void SelectItems(IEnumerable<PropertyItemDto> items)
    {
        foreach (var item in items)
        {
            if (DeletedItemIds.Contains(item.Id)) continue;

            SelectedItems.Add(item);
        }
    }

    public void ClearSelectedItems()
    {
        SelectedItems.Clear();
    }

    private async Task UpdateItem(PropertyItemDto item)
    {
        var updated = EditedItems[item.Id].Updated;
        var original = Items.FirstOrDefault(i => i.Id == updated.Id);
        
        EditedItems.Remove(item.Id);

        if (original is not null && updated.Equals(original))
        {
            UpdatedItemDtos.Remove(updated.Id);
        }
        else
        {
            UpdatedItemDtos[updated.Id] = updated;
        }
        
        await Task.CompletedTask;
    }

    private async Task ClearUpdatedItems()
    {
        UpdatedItemDtos.Clear();
        await Task.CompletedTask;
    }

    public void EditItem(PropertyItemDto item)
    {
        if (SelectedItems.Contains(item)) SelectedItems.Remove(item);

        if (EditedItems.ContainsKey(item.Id))
        {
            EditedItems.Remove(item.Id);
        }
        else
        {
            var itemToEdit = UpdatedItemDtos.GetValueOrDefault(item.Id, item);
            EditedItems[item.Id] = (Updated: PropertyItemDto.CloneThis(itemToEdit), Original: item);
        }
    }

    public async Task DeleteItem(PropertyItemDto item)
    {
        if (SelectedItems.Contains(item)) SelectedItems.Remove(item);
        
        UpdatedItemDtos.Remove(item.Id);
        
        if (!DeletedItemIds.Remove(item.Id))
        {
            DeletedItemIds.Add(item.Id);
        }
        
        await Task.CompletedTask;
    }

    public async Task DeleteSelectedItems()
    {
        foreach (var item in SelectedItems)
        {
            UpdatedItemDtos.Remove(item.Id);
            DeletedItemIds.Add(item.Id);
        }
        ClearSelectedItems();
        await Task.CompletedTask;
    }

    public async Task ClearDeletedItems()
    {
        DeletedItemIds.Clear();
        await Task.CompletedTask;
    }

    private bool ShowUpdateSuggestionModal { get; set; }

    public string GetItemColor(PropertyItemDto item)
    {
        if (UpdatedItemDtos.ContainsKey(item.Id)) return "#BBFF99";
        if (DeletedItemIds.Contains(item.Id)) return "#FF5B5B";
        if (SelectedItems.Any(i => i.Id == item.Id)) return "#E0E0E0";
        return "FFFFFF";
    }

    private async Task OnSuggestionUpdate()
    {
        ShowUpdateSuggestionModal = false;
        await OnChange.InvokeAsync(true);
    }
}