@using System.Net
@using Invenire.Common.Errors
@using Invenire.Api.Users.Admin.Register

<EditForm class="form-card" Model="Body" OnSubmit="Register" @ref="Form">
    <div class="form-group">
        <label>Křestní jméno:</label>
        <InputText @bind-Value="Body.FirstName" />
        <ValidationMessage For="@(() => Body.FirstName)" />
    </div>

    <div class="form-group">
        <label>Příjmení:</label>
        <InputText @bind-Value="Body.LastName" />
        <ValidationMessage For="@(() => Body.LastName)" />
    </div>

    <div class="form-group">
        <label>Emailová adresa:</label>
        <InputText @bind-Value="Body.EmailAddress" type="email" />
        <ValidationMessage For="@(() => Body.EmailAddress)" />
    </div>

    <div class="form-group">
        <label>Heslo:</label>
        <InputText @bind-Value="Body.Password" type="password" />
        <ValidationMessage For="@(() => Body.Password)" />
    </div>

    <div class="form-group">
        <label>Potvrzení hesla:</label>
        <InputText @bind-Value="Body.PasswordConfirm" type="password" />
        <ValidationMessage For="@(() => Body.PasswordConfirm)" />
    </div>

    <div class="form-actions">
        <button type="submit">Registrovat</button>
    </div>
</EditForm>

@if (Error is not null)
{
    <div class="error-banner">
        @Error
    </div>
}

@code
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    private string? Error { get; set; }
    private ValidationMessageStore ValidationMessages { get; set; } = null!;
    private EditForm Form { get; set; } = null!;
    private RegisterAdminRequestBody Body { get; set; } = new();

    protected override void OnAfterRender(bool rendered)
    {
        if (rendered && Form is not null)
        {
            ValidationMessages = new ValidationMessageStore(Form.EditContext!);
        }
    }

    private async Task Register()
    {
        Error = null;
        ValidationMessages.Clear();

        var response = await Client.PostAsJsonAsync("/api/admins/register", Body);

        if (response.StatusCode == HttpStatusCode.Created)
        {
            Navigation.NavigateTo("/send-email");
        }
        else
        {
            var exception = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();

            if (exception.Type == "ValidationException")
            {
                foreach (var error in exception.Errors!)
                {
                    var field = error switch
                    {
                        var e when e.Contains("first_name") => Form.EditContext!.Field(nameof(Body.FirstName)),
                        var e when e.Contains("last_name") => Form.EditContext!.Field(nameof(Body.LastName)),
                        var e when e.Contains("email_address") => Form.EditContext!.Field(nameof(Body.EmailAddress)),
                        var e when e.Contains("password_confirm") => Form.EditContext!.Field(nameof(Body.PasswordConfirm)),
                        var e when e.Contains("password") => Form.EditContext!.Field(nameof(Body.Password)),
                        _ => throw new Exception($"Unknown error field: {error}")
                    };

                    ValidationMessages.Add(field, ErrorTranslator.Translate(error, RegisterAdminResponse.ErrorTranslations));
                }

                Form.EditContext!.NotifyValidationStateChanged();
            }
            else
            {
                Error = ErrorTranslator.Translate(exception.Detail, RegisterAdminResponse.ErrorTranslations);
            }
        }
    }
}
