@using System.Net
@using System.Threading.Tasks
@using Invenire.Api.Organizations
@using Invenire.Api.Organizations.Invitations
@using Invenire.Api.Organizations.Invitations.IndexByEmployee
@using System.Security.AccessControl

@if (Invitations.Count == 0)
{
    <div>
        <h4>Momentálně nemáte žádné pozvánky.</h4>
    </div>
}
else
{
    @foreach (var invitation in Invitations)
    {
        <div>
            <h5>Pozvánka</h5>
            <ul>
                <li><strong>ID:</strong> @invitation.Id</li>
                @if (invitation.OrganizationDto is not null)
                {
                    <li><strong>Jméno organizace:</strong> @invitation.OrganizationDto.Name</li>
                    @if (invitation.OrganizationDto.Admin is not null)
                    {
                        <li><strong>Jméno admina:</strong> @invitation.OrganizationDto.Admin.FullName</li>
                    }
                }
                @if (!string.IsNullOrEmpty(invitation.Description))
                {
                    <strong>Text:</strong> @invitation.Description <br />
                }
                <li><strong>Vytvořeno:</strong> @invitation.CreatedAt.ToUserTimeString()</li>
                @if (invitation.LastUpdatedAt is not null)
                {
                    <li><strong>Naposledy upraveno:</strong> @invitation.LastUpdatedAt.ToUserTimeString()</li>
                }
                @if (invitation.Employee is not null)
                {
                    <li><strong>Pro:</strong> @invitation.Employee.FullName</li>
                }
            </ul>
            <button @onclick="() => {ShowAcceptInvitationConfirmationModal = true; SelectedInvitation = invitation;}">Připojit se</button>
            <button @onclick="() => {ShowDeleteInvitationConfirmationModal = true; SelectedInvitation = invitation;}">Odstranit</button>
        </div>
    }

    <div class="pagination">
        <button @onclick="() => SetInvitations(CurrentOffset - Limit)" disabled="@( !CanGoPrev )">
            ◀
        </button>
        <span>@(CurrentOffset / Limit + 1) / @((int)Math.Ceiling((double)TotalInvitationsCount / Limit))</span>
        <button @onclick="() => SetInvitations(CurrentOffset + Limit)" disabled="@( !CanGoNext )">
            ▶
        </button>
    </div>

    @if (ShowAcceptInvitationConfirmationModal && SelectedInvitation is not null)
    {
        <div style="
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;">
            <div style="
                background-color: white;
                padding: 20px;
                border-radius: 8px;
                width: 400px;
                max-width: 100%;
                box-shadow: 0 2px 10px rgba(0,0,0,0.3);">

                <h4 style="margin: 0 0 10px 0;">Opravdu se chcete připojit k organizaci?</h4>
                <p> Pozvánka od <strong>@SelectedInvitation.OrganizationDto!.Admin!.FullName</strong> z <strong>@SelectedInvitation.OrganizationDto.Name</strong></p>
                <button @onclick="() => AcceptInvitation(SelectedInvitation)">Ano, připojit se</button>
                <button @onclick="() => { ShowAcceptInvitationConfirmationModal = false; SelectedInvitation = null; }">Zrušit</button>
            </div>
        </div>
    }

    @if (ShowDeleteInvitationConfirmationModal && SelectedInvitation is not null)
    {
        <div style="
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;">
            <div style="
                background-color: white;
                padding: 20px;
                border-radius: 8px;
                width: 400px;
                max-width: 90%;
                box-shadow: 0 2px 10px rgba(0,0,0,0.3);">

                <h4 style="margin: 0 0 10px 0;">Opravdu chcete smazat pozvánku?</h4>
                <p> Pozvánka od <strong>@SelectedInvitation.OrganizationDto!.Admin!.FullName</strong> z <strong>@SelectedInvitation.OrganizationDto.Name</strong></p>
                <button @onclick="() => DeleteInvitation(SelectedInvitation)">Ano, smazat</button>
                <button @onclick="() => { ShowDeleteInvitationConfirmationModal = false; SelectedInvitation = null; }">Zrušit</button>
            </div>
        </div>
    }
}

@code
{
    [Inject] private HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnSuccessfulJoin { get; set; }

    private int Limit { get; set; } = 5;
    private int CurrentOffset { get; set; } = 0;
    private int TotalInvitationsCount { get; set; }

    private bool ShowAcceptInvitationConfirmationModal { get; set; }
    private bool ShowDeleteInvitationConfirmationModal { get; set; }

    private OrganizationInvitationDto? SelectedInvitation { get; set;}
    private List<OrganizationInvitationDto> Invitations { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await SetInvitations();
    }

    private async Task SetInvitations(int offset = 0)
    {
        CurrentOffset = offset;

        var response = await Client.GetAsync($"/api/employees/invitations?limit={Limit}&offset={CurrentOffset}");
        if (response.StatusCode != HttpStatusCode.OK) throw new Exception("Something went wrong during the request to index the invitations.");

        var content = await response.Content.ReadFromJsonAsync<IndexByEmployeeOrganizationInvitationResponse>() ?? throw new NullReferenceException();

        Invitations.Clear();
        Invitations.AddRange(content.Data);

        foreach (var invitation in Invitations)
        {
            invitation.OrganizationDto = await (await Client.GetAsync($"/api/organizations/{invitation.OrganizationId}")).Content.ReadFromJsonAsync<OrganizationDto>();
        }

        TotalInvitationsCount = content.TotalCount;
    }

    private bool CanGoPrev => CurrentOffset > 0;
    private bool CanGoNext => CurrentOffset + Limit < TotalInvitationsCount;

    private async Task AcceptInvitation(OrganizationInvitationDto invitation)
    {
        var response = await Client.PutAsync($"/api/organizations/invitations/{invitation.Id}/accept", null);

        if (response.StatusCode != HttpStatusCode.NoContent) throw new Exception("Something went wrong during the request to accept the invitation.");

        await OnSuccessfulJoin.InvokeAsync(true);
    }

    private async Task DeleteInvitation(OrganizationInvitationDto invitation)
    {
        var response = await Client.DeleteAsync($"/api/organizations/invitations/{invitation.Id}");

        if (response.StatusCode != HttpStatusCode.NoContent) throw new Exception("Something went wrong during the request to delete the invitation.");

        Invitations.Remove(invitation);

        StateHasChanged();
    }
}
