@using System.Net
@using Invenire.Common.Errors
@using System.Threading.Tasks
@using Invenire.Api.Properties
@using Invenire.Api.Users.Employees
@using Invenire.Api.Properties.Items
@using Invenire.Api.Organizations.Create
@using Invenire.Api.Properties.Items.Update
@using Invenire.Api.Properties.Items.Delete
@using Invenire.Api.Properties.Items.IndexByAdmin
@using Invenire.Components.Forms.Properties.Items

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
    <h4 style="margin:0;">Všechny položky</h4>
    <button @onclick="() => OnClose.InvokeAsync(true)">X</button>
</div>

<div>
    <input type="text" @bind="SearchTerm" @bind:after="() => LoadItems(0)" placeholder="Hledat ..." />
</div>

<div>
    <label for="OrderSelect">Řazení: </label>
    <select id="OrderSelect" @bind="SelectedOrderOption" @bind:after="() => LoadItems(0)">
        @foreach (var option in OrderOptions)
        {
            <option value="@option.Value">@option.Label</option>
        }
    </select>
</div>

<div>
    <button @onclick="async () => {ShowFilteringOptions = !ShowFilteringOptions; if (!ShowFilteringOptions) await ClearFilters();}">@if (ShowFilteringOptions) @("Zrušit filtrování") else @("Filtrovat")</button>
    @if (ShowFilteringOptions)
    {
        <div>
            <label for="PriceMin">Cena od:</label>
            <input id="PriceMin" type="number" @bind="PriceMin" min="0" />

            <label for="PriceMax">do:</label>
            <input id="PriceMax" type="number" @bind="PriceMax" min="0" />

            <br />

            <label for="DateOfPurchaseFrom">Datum nákupu od:</label>
            <input id="DateOfPurchaseFrom" type="date" @bind="DateOfPurchaseFrom" />

            <label for="DateOfPurchaseTo">do:</label>
            <input id="DateOfPurchaseTo" type="date" @bind="DateOfPurchaseTo" />

            <br />

            <label for="CreatedAtFrom">Datum přidání od:</label>
            <input id="CreatedAtFrom" type="date" @bind="CreatedAtFrom" />

            <label for="CreatedAtTo">do:</label>
            <input id="CreatedAtTo" type="date" @bind="CreatedAtTo" />

            <br />

            <label for="Building">V budově:</label>
            <input id="Building" type="text" @bind="Building" />

            <label for="Room">V místnosti:</label>
            <input id="Room" type="text" @bind="Room" />

            <br />

            <label for="Employee">Spravuje:</label>
            <input id="Employee" type="email" @bind="FilteringEmployeeEmailAddress" @bind:after="() => GetEmployeeForFiltering()"/>

            @if (FilteringEmployeeErrorMessage is not null)
            {
                <span> @FilteringEmployeeErrorMessage</span>
            }

            <br />

            <button @onclick="() => LoadItems(0)" disabled="@(FilteringEmployeeErrorMessage is not null)" >Použít</button>
            <button @onclick="() => ClearFilters()">Vymazat</button>
        </div>
    }
</div>
    
<br />

@if (Items.Any())
{
    <div>
        <div>
            <button @onclick="() => SelectItems(Items)" disabled="@(Items.Except(DeletedItems).All(i => SelectedItems.Contains(i)))" >Vybrat vše</button>
            <button @onclick="() => ClearSelectedItems()" disabled="@(!SelectedItems.Any())">Zrušit výběr</button>
        </div>
        <div>
            <button @onclick="() => DeleteSelectedItems()" disabled="@(Items.All(i => DeletedItems.Contains(i)) || !SelectedItems.Any())">Označit vybrané jako smazané</button>
            <button @onclick="() => ClearDeletedItems()" disabled="@(!DeletedItems.Any())">Ponechat všechny smazané položky</button>
        </div>

        <br /> <br />

        <div style="display:grid;grid-template-columns:repeat(4,1fr);gap:0.5rem;">
            @foreach (var item in Items.Select(i => UpdatedItems.FirstOrDefault(u => u.Id == i.Id) ?? i))
            {
                <div style="border:1px solid #ccc;padding:0.25rem;border-radius:6px;font-size:0.85rem; background-color:@GetItemColor(item);">
                    <ul style="list-style-type:none;padding:0;margin:0; cursor:pointer;" @onclick="() => SelectItem(item)">
                        @if (EditedItems.ContainsKey(item.Id))
                        {
                            var edit = EditedItems[item.Id].Updated;

                            <li><strong>ID:</strong> @edit.Id</li>
                            <li><strong>Název:</strong> <input @bind="edit.Name" style="width:70%;"/></li>
                            <li><strong>Cena:</strong> <input type="number" @bind="edit.Price"/></li>
                            <li><strong>Inventární číslo:</strong> <input @bind="edit.InventoryNumber" required/></li>
                            <li><strong>Registrační číslo:</strong> <input @bind="edit.RegistrationNumber"/> </li>
                            <li><strong>Sériové číslo:</strong> <input @bind="edit.SerialNumber"/></li>
                            <li><strong>Datum nákupu:</strong> <input type="date" @bind="edit.DateOfPurchase"/></li>
                            @if (edit.DateOfSale is not null)
                            {
                                <li><strong>Datum prodeje:</strong> <input type="date" @bind="edit.DateOfSale"/></li>
                            }
                            <li>
                                <strong>Umístění:</strong> Budova <input @bind="edit.Location.Building"/> , Místnost <input @bind="edit.Location.Room"/>
                            </li>
                            @if (!string.IsNullOrWhiteSpace(edit.Location.AdditionalNote))
                            {
                                <li><strong>Poznámka k umístění:</strong> <input @bind="edit.Location.AdditionalNote"/></li>
                            }
                            <li><strong>Spravuje:</strong> <input @bind="edit.Employee.EmailAddress"/></li>
                            <li><strong>Popis:</strong> <input @bind="edit.Description" style="width:70%;"/></li>
                            <li><strong>Dokument:</strong> <input @bind="edit.DocumentNumber"/></li>
                            <li><strong>Přidáno:</strong> @edit.CreatedAt:g</li>
                            @if (edit.LastUpdatedAt is not null)
                            {
                                <li><strong>Upraveno:</strong> @edit.LastUpdatedAt:g</li>
                            }
                        }
                        else
                        {
                            <li><strong>ID:</strong> @item.Id</li>
                            <li><strong>Název:</strong> @item.Name</li>
                            <li><strong>Cena:</strong> @item.Price Kč</li>
                            <li><strong>Inventární číslo:</strong> @item.InventoryNumber</li>
                            <li><strong>Registrační číslo:</strong> @item.RegistrationNumber</li>
                            <li><strong>Sériové číslo:</strong> @(item.SerialNumber ?? "-----")</li>
                            <li><strong>Datum nákupu:</strong> @item.DateOfPurchase:d</li>
                            @if (item.DateOfSale is not null)
                            {
                                <li><strong>Datum prodeje:</strong> @item.DateOfSale:d</li>
                            }
                            <li><strong>Umístění:</strong> Budova @item.Location.Building, Místnost @item.Location.Room</li>
                            @if (!string.IsNullOrWhiteSpace(item.Location.AdditionalNote))
                            {
                                <li><strong>Poznámka k umístění:</strong> @item.Location.AdditionalNote</li>
                            }
                            <li><strong>Spravuje:</strong> @(!string.IsNullOrEmpty(item.Employee.EmailAddress) ? item.Employee.EmailAddress : "-----")</li>
                            <li><strong>Popis:</strong> @item.Description</li>
                            <li><strong>Dokument:</strong> @item.DocumentNumber</li>
                            <li><strong>Přidáno:</strong> @item.CreatedAt:g</li>
                            @if (item.LastUpdatedAt is not null)
                            {
                                <li><strong>Upraveno:</strong> @item.LastUpdatedAt:g</li>
                            }
                        }
                        </ul>

                        @if (EditedItems.ContainsKey(item.Id))
                        {
                            <button @onclick="() => UpdateItem(item)" type="submit">Uložit úpravy</button>
                        }

                        <button @onclick="() => EditItem(item)" disabled="@(DeletedItems.Contains(item))">
                            @(EditedItems.ContainsKey(item.Id) ? "Zrušit úpravy" : "Upravit")
                        </button>

                        @if (!EditedItems.ContainsKey(item.Id) && UpdatedItems.Any(i => i.Id == item.Id))
                        {
                            <button @onclick="() => UpdatedItems.RemoveWhere(i => i.Id == item.Id)">Vrátit změny</button>
                        }

                        <button @onclick="() => DeleteItem(item)" disabled="@(EditedItems.ContainsKey(item.Id))">
                            @(DeletedItems.Contains(item) ? "Zrušit Smazání" : "Smazat")
                        </button>
                </div>
            }
        </div>
        <br/>
        <div style="margin-bottom:2%">
            <button @onclick="() => SaveChanges()" disabled="@(!DeletedItems.Any() && !UpdatedItems.Any())">Uložit změny</button>

            @if (SavingErrorMessages.Any())
            {
                <ul>
                @foreach ( var error in SavingErrorMessages)
                {
                    <li>@error</li>
                }
                </ul>

                <button @onclick="() => SavingErrorMessages.Clear()">Smazat</button>
            }
        </div>
        <div style="
            position: sticky;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
        ">
            <button @onclick="() =>  LoadItems(CurrentOffset - Limit)" disabled="@(!CanGoPrev)">Předchozí</button>
            <span>Návrh @(CurrentOffset / Limit + 1) / @((int)Math.Ceiling((double)TotalItemsCount / Limit))</span>
            <button @onclick="() => LoadItems(CurrentOffset + Limit)" disabled="@(!CanGoNext)">Další</button>
        </div>
    </div>
}
else
{
    <p>Žádné položky nebyly nalezeny.</p>
}

@code {
    [Inject] public HttpClient Client { get; set; } = default!;
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback<bool> OnChange { get; set; }

    private int Limit { get; set; } = 28;
    private int CurrentOffset { get; set; }
    private int TotalItemsCount { get; set; }

    private string? SearchTerm { get; set; }

    private List<PropertyItemDto> Items { get; set; } = [];

    private string SelectedOrderOption { get; set; } = "createdat_asc";
    private readonly List<(string Value, string Label)> OrderOptions = new()
    {
        ("name_asc", "Název (A-Z)"),
        ("name_desc", "Název (Z-A)"),
        ("price_asc", "Cena (nejnižší první)"),
        ("price_desc", "Cena (nejvyšší první)"),
        ("dateofpurchase_asc", "Datum nákupu (nejstarší první)"),
        ("dateofpurchase_desc", "Datum nákupu (nejnovější první)"),
        ("createdat_asc", "Datum přidání (nejstarší první)"),
        ("createdat_desc", "Datum přidání (nejnovější první)")
    };

    protected override async Task OnInitializedAsync() => await LoadItems(0);

    private async Task LoadItems(int offset)
    {
        CurrentOffset = Math.Max(0, offset);

        var (sort, descending) = SelectedOrderOption.Split("_") switch { var parts => (parts[0], parts[1] == "desc") };

        var parameters = new List<string>
        {
            $"limit={Limit}",
            $"offset={CurrentOffset}",
            $"order={sort}",
            $"desc={descending}"
        };

        if (!string.IsNullOrEmpty(SearchTerm))
            parameters.Add($"searchQuery={SearchTerm}");

        if (ShowFilteringOptions)
        {
            if (PriceMin is not null)
                parameters.Add($"minPrice={PriceMin}");
            if (PriceMax is not null)
                parameters.Add($"maxPrice={PriceMax}");
            if (CreatedAtFrom is not null)
                parameters.Add($"createdAtFrom={new DateTimeOffset(CreatedAtFrom.Value, TimeSpan.Zero).UtcDateTime:O}");
            if (CreatedAtTo is not null)
                parameters.Add($"createdAtTo={new DateTimeOffset(CreatedAtTo.Value, TimeSpan.Zero).UtcDateTime:O}");
            if (DateOfPurchaseFrom is not null)
                parameters.Add($"dateOfPurchaseFrom={new DateTimeOffset(DateOfPurchaseFrom.Value, TimeSpan.Zero).UtcDateTime:O}");
            if (DateOfPurchaseTo is not null)
                parameters.Add($"dateOfPurchaseTo={new DateTimeOffset(DateOfPurchaseTo.Value, TimeSpan.Zero).UtcDateTime:O}");
            if (FilteringEmployeeId is not null)
                parameters.Add($"employeeId={FilteringEmployeeId}");
            if (!string.IsNullOrEmpty(Room))
                parameters.Add($"room={Room}");
            if (!string.IsNullOrEmpty(Building))
                parameters.Add($"building={Building}");
        }

        var response = await Client.GetAsync($"/api/properties/items?{string.Join("&", parameters)}");

        if (response.StatusCode != HttpStatusCode.OK) throw new Exception("Something went wrong during the request to get the items.");

        var content = await response.Content.ReadFromJsonAsync<IndexByAdminPropertyItemResponse>() ?? throw new NullReferenceException();

        Items = content.Data;
        Limit = content.Limit;
        TotalItemsCount = content.TotalCount;
    }

    private bool CanGoPrev => CurrentOffset > 0; 
    private bool CanGoNext => CurrentOffset + Limit < TotalItemsCount;

    private bool ShowFilteringOptions { get; set; }

    private decimal? PriceMin { get; set; }
    private decimal? PriceMax { get; set; }

    private DateTime? CreatedAtFrom { get; set; }
    private DateTime? CreatedAtTo { get; set; }

    private DateTime? DateOfPurchaseFrom { get; set; }
    private DateTime? DateOfPurchaseTo { get; set; }

    private string? Room { get; set; }
    private string? Building { get; set; }

    private Guid? FilteringEmployeeId { get; set; }
    private string? FilteringEmployeeErrorMessage { get; set; }
    private string? FilteringEmployeeEmailAddress { get; set; }

    private async Task GetEmployeeForFiltering()
    {
        FilteringEmployeeErrorMessage = null;

        if (string.IsNullOrEmpty(FilteringEmployeeEmailAddress))
            return;

        var response = await Client.GetAsync($"/api/organizations/employees/{FilteringEmployeeEmailAddress}");

        if (response.StatusCode != HttpStatusCode.OK)
        {
            var exception = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();

            if (exception.Type == "NotFound404Exception" && exception.Detail == "The employee was not found in the system.") 
                FilteringEmployeeErrorMessage = "Zaměstnanec s touto adresou nebyl nalezen.";
            else if (exception.Type == "Unauthorized401Exception" && exception.Detail == "The employee is not from the admin's organization.") 
                FilteringEmployeeErrorMessage = "Zaměstnanec s touto adresou nepatří k vaší organizaci.";
            else
                throw new Exception("Something went wrong during the request to get the employee.");

            return;
        }

        var content = await response.Content.ReadFromJsonAsync<EmployeeDto>() ?? throw new NullReferenceException();

        FilteringEmployeeId = content.Id;
    }

    private async Task ClearFilters()
    {
        PriceMin = null;
        PriceMax = null;
        CreatedAtFrom = null;
        CreatedAtTo = null;
        DateOfPurchaseFrom = null;
        DateOfPurchaseTo = null;
        Room = null;
        Building = null;
        FilteringEmployeeId = null;
        FilteringEmployeeErrorMessage = null;
        FilteringEmployeeEmailAddress = null;

        await LoadItems(0);
    }

    /* Selecting, Deleting and Updating Items.*/

    private HashSet<PropertyItemDto> DeletedItems { get; set; } = [];
    private HashSet<PropertyItemDto> UpdatedItems { get; set; } = [];
    private HashSet<PropertyItemDto> SelectedItems { get; set; } = [];
    private Dictionary<Guid, (PropertyItemDto Updated, PropertyItemDto Original)> EditedItems { get; set; } = new();

    /* Selecting */

    public void SelectItem(PropertyItemDto item)
    {
        if (DeletedItems.Contains(item)) return;
        if (EditedItems.Keys.Contains(item.Id)) return;

        if (!SelectedItems.Remove(item)) SelectedItems.Add(item);
    }

    public void SelectItems(IEnumerable<PropertyItemDto> items)
    {
        foreach (var item in items)
        {
            if (DeletedItems.Contains(item)) continue;

            SelectedItems.Add(item);
        }
    }

    public void ClearSelectedItems()
    {
        SelectedItems.Clear();
    }

    /* Updating */

    private void UpdateItem(PropertyItemDto item)
    {
        var updated = EditedItems[item.Id].Updated;

        UpdatedItems.RemoveWhere(i => i.Id == updated.Id);
        EditedItems.Remove(item.Id);

        var original = Items.FirstOrDefault(i => i.Id == updated.Id);
        if (original is not null && updated.Equals(original))
            return;

        UpdatedItems.Add(updated);
    }

    private void ClearUpdatedItems()
    {
        UpdatedItems.Clear();
    }

    public void EditItem(PropertyItemDto item)
    {
        if (SelectedItems.Contains(item)) SelectedItems.Remove(item);

        if (EditedItems.ContainsKey(item.Id))
            EditedItems.Remove(item.Id);
        else
            EditedItems[item.Id] = (Updated: PropertyItemDto.CloneThis(item), Original: item);
    }

    /* Deleting */

    public void DeleteItem(PropertyItemDto item)
    {
        if (SelectedItems.Contains(item)) SelectedItems.Remove(item);
        if (UpdatedItems.Contains(item))
        {
            UpdatedItems.RemoveWhere(i => i.Id == item.Id);
            item = Items.First(i => i.Id == item.Id);
        }

        if (!DeletedItems.Remove(item)) DeletedItems.Add(item);
    }

    public void DeleteSelectedItems()
    {
        DeletedItems.UnionWith(SelectedItems);
        ClearSelectedItems(); 
    }

    public void ClearDeletedItems()
    {
        DeletedItems.Clear();
    }

    /* Others */

    private List<string> SavingErrorMessages { get; set; } = [];

    public string GetItemColor(PropertyItemDto item)
    {
        if (UpdatedItems.Any(i => i.Id == item.Id)) return "#BBFF99";
        if (DeletedItems.Any(i => i.Id == item.Id)) return "#FF5B5B";
        if (SelectedItems.Any(i => i.Id == item.Id)) return "#E0E0E0";
        return "FFFFFF";
    }

    public async Task SaveChanges()
    {
        try
        {
            if (UpdatedItems.Any()) await SaveUpdatedAsync();
            if (DeletedItems.Any()) await SaveDeletedAsync();
        }
        catch
        {
            return;
        }

        await LoadItems(0);
        await OnChange.InvokeAsync(true);
    }

    public async Task SaveDeletedAsync()
    {
        var response = await Client.SendAsync(new HttpRequestMessage(HttpMethod.Delete, "/api/properties/items")
        {
            Content = JsonContent.Create(new DeletePropertyItemsRequest
            {
                Ids = [.. DeletedItems.Select(i => i.Id)],
            })
        });

        if (response.StatusCode != HttpStatusCode.NoContent) throw new Exception("Something went wrong during the requests to delete the items.");

        ClearDeletedItems();
    }

    public async Task SaveUpdatedAsync()
    {
        SavingErrorMessages.Clear();

        var items = new List<UpdatePropertyItemRequest>();

        foreach (var item in UpdatedItems)
        {
            if (item.Employee.EmailAddress != Items.First(i => i.Id == item.Id).Employee.EmailAddress)
            {
                var get = await Client.GetAsync($"/api/organizations/employees/{item.Employee.EmailAddress}");

                if (get.StatusCode != HttpStatusCode.OK)
                {
                    var exception = await get.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();

                    if (exception.Type == "NotFound404Exception" && exception.Detail == "The employee was not found in the system.") 
                        SavingErrorMessages.Add($"Položka {item.InventoryNumber}: Zaměstnanec s touto adresou nebyl nalezen.");
                    else if (exception.Type == "NotAuthorized401Exception" && exception.Detail == "The employee is not from the admin's organization.") 
                        SavingErrorMessages.Add($"Položka {item.InventoryNumber}: Zaměstnanec s touto adresou nepatří k vaší organizaci.");

                    throw new Exception("Something went wrong during the request to get the employee.");
                }
    
                var content = await get.Content.ReadFromJsonAsync<EmployeeDto>() ?? throw new NullReferenceException();

                item.EmployeeId = content.Id;
            }

            if (item.EmployeeId is not null && string.IsNullOrEmpty(item.Employee.EmailAddress)) item.EmployeeId = null;

            items.Add(new UpdatePropertyItemRequest
            {
                Id = item.Id,
                EmployeeId = item.EmployeeId,
                InventoryNumber = item.InventoryNumber,
                RegistrationNumber = item.RegistrationNumber,
                Name = item.Name,
                Price = item.Price,
                SerialNumber = item.SerialNumber,
                DateOfPurchase = item.DateOfPurchase,
                DateOfSale = item.DateOfSale,
                Location = new UpdatePropertyItemCommandLocation
                {
                    Room = item.Location.Room,
                    Building = item.Location.Building,
                    AdditionalNote = item.Location.AdditionalNote,
                },
                Description = item.Description,
                DocumentNumber = item.DocumentNumber,
            });
        }

        var body = new UpdatePropertyItemsRequest
        {
            Items = items
        };

        var response = await Client.PutAsJsonAsync("/api/properties/items", body);

        if (response.StatusCode != HttpStatusCode.NoContent) 
        {
            var exception = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();

            if (exception.Type == "ValidationException")
            {
                foreach (var error in exception.Errors!)
                {
                    SavingErrorMessages.Add(ErrorTranslator.Translate(error, UpdatePropertyItemsResponse.ErrorTranslations));
                }
            }
            else
            {
                SavingErrorMessages.Add(ErrorTranslator.Translate(exception.Detail, UpdatePropertyItemsResponse.ErrorTranslations));
            }

            throw new Exception("Something went wrong during the requests to update the items.");
        }

        ClearUpdatedItems();
    }
}