@using System.Net
@using Invenire.Api.Users.Admin
@using Invenire.Components.Forms.Users.Admins

@if (Admin is not null)
{
    <ul>
        <li><strong>Id:</strong> @Admin.Id</li>
        <li><strong>Jméno:</strong> @Admin.FullName</li>
        <li><strong>Email:</strong> @Admin.EmailAddress</li>
        <li><strong>Vytvořen:</strong> @Admin.CreatedAt.ToString("g")</li>
        @if (Admin.LastUpdatedAt is not null)
        {
            <li><strong>Naposledy upraven:</strong> @Admin.LastUpdatedAt?.ToString("g")</li>
        }
    </ul>

    <button @onclick="() => ShowUpdateModal = true">Upravit informace</button>
}
@if (Admin is not null && ShowUpdateModal)
{
    <div style="
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;">
        <div style="
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            width: 500px;
            max-width: 90%;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);">

            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                <h4 style="margin: 0;">Upravit svoje informace</h4>
                <button @onclick="() => ShowUpdateModal = false">X</button>
            </div>

            <UpdateAdminForm Admin="Admin" OnClose="() => ShowUpdateModal = false" OnSuccessfulUpdate="OnSuccessfulAdminUpdate" />
        </div>
    </div>
}

@code 
{
    [Inject] private HttpClient Client { get; set; } = default!;

    private bool ShowUpdateModal { get; set; }
    private AdminDto? Admin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAdmin();
    }

    private async Task LoadAdmin()
    {
        var response = await Client.GetAsync("/api/admins/profile");

        if (response.StatusCode != HttpStatusCode.OK) throw new Exception("Something went wrong during the request to get the admin."); 

        Admin = await response.Content.ReadFromJsonAsync<AdminDto>();
    }

    private async Task OnSuccessfulAdminUpdate()
    {
        ShowUpdateModal = false;
        await LoadAdmin();
        StateHasChanged();
    }
}