@using System.Net
@using Invenire.Common.Errors
@using Invenire.Api.Admin.Register

<EditForm Model="body" OnSubmit="HandleRegistration" @ref="form">
    <div>
        <label>Křestní jméno:</label>
        <InputText @bind-Value="body.FirstName" />
        <ValidationMessage For="@(() => body.FirstName)" />
    </div>

    <div>
        <label>Příjmení:</label>
        <InputText @bind-Value="body.LastName" />
        <ValidationMessage For="@(() => body.LastName)" />
    </div>

    <div>
        <label>Emailová adresa:</label>
        <InputText @bind-Value="body.EmailAddress" type="email" />
        <ValidationMessage For="@(() => body.EmailAddress)" />
    </div>

    <div>
        <label>Heslo:</label>
        <InputText @bind-Value="body.Password" type="password" />
        <ValidationMessage For="@(() => body.Password)" />
    </div>

    <div>
        <label>Potvrzení hesla:</label>
        <InputText @bind-Value="body.PasswordConfirm" type="password" />
        <ValidationMessage For="@(() => body.PasswordConfirm)" />
    </div>

    <button type="submit">Registrovat</button>
</EditForm>

@if (errorGeneralMessage is not null)
{
    <div>
        @errorGeneralMessage
    </div>
}

@code {
    [Inject] private HttpClient Client { get; set; } = default!;

    private string? errorGeneralMessage;
    private ValidationMessageStore errorValidationMessages = null!;

    private EditForm form = null!;
    private RegisterAdminRequestBody body = new();

    protected override void OnAfterRender(bool rendered)
    {
        if (rendered && form is not null)
        {
            errorValidationMessages = new ValidationMessageStore(form?.EditContext!);
        }
    }

    private async Task HandleRegistration()
    {
        errorGeneralMessage = null;
        errorValidationMessages.Clear();

        var response = await Client.PostAsJsonAsync("/api/admins/register", body);

        if (response.StatusCode == HttpStatusCode.Created)
        {
            Console.WriteLine("Admin registration successful.");
        }
        else
        {
            var content = await response.Content.ReadFromJsonAsync<ErrorResponse>() ?? throw new NullReferenceException();

            if (content.Type == "ValidationException")
            {
                foreach (var error in content.Errors!)
                {
                    var field = error switch
                    {
                        var e when e.Contains("first_name") => form.EditContext!.Field(nameof(body.FirstName)),
                        var e when e.Contains("last_name") => form.EditContext!.Field(nameof(body.LastName)),
                        var e when e.Contains("email_address") => form.EditContext!.Field(nameof(body.EmailAddress)),
                        var e when e.Contains("password_confirm") => form.EditContext!.Field(nameof(body.PasswordConfirm)),
                        var e when e.Contains("password") => form.EditContext!.Field(nameof(body.Password)),
                        _ => throw new Exception($"Unknown error field: {error}")
                    };

                    errorValidationMessages.Add(field, ErrorTranslator.Translate(error, RegisterAdminResponse.ErrorTranslations));
                }

                form.EditContext!.NotifyValidationStateChanged();
            }
            else
            {
                errorGeneralMessage = ErrorTranslator.Translate(content.Detail, RegisterAdminResponse.ErrorTranslations);
            }
        }
    }
}
